<header id="navbar" class="navbar navbar-expand px-3 shadow-sm mx-0 bg-th py-3 position-fixed">
    <main class="container px-4">
        <h3 routerLink="/" class="h3 fw-bold snow" id="icon">
            Student Entry Project
        </h3>

        <ul class="navbar-nav fw-bold h6">
            <li class="nav-item d-flex flex-column align-items-center snow">
                <span>Username & role</span>
                <span>{{ todayDate | date :'shortDate' }}</span>
            </li>
        </ul>
    </main>
</header>
