<header id="navbar" class="navbar navbar-expand px-3 shadow-sm mx-0 bg-th py-3 position-fixed">
    <main class="container px-4">
        <h3 routerLink="/" class="h3 fw-bold snow" id="icon">
            Student Entry Project
        </h3>

        <ul class="navbar-nav fw-bold h6 d-flex gap-3">
            <li class="nav-item d-flex flex-column align-items-center snow">
                <span>{{ authUser.name | titlecase }}[{{ authUser.role == 1 ? 'User' : 'Admin' }}]</span>
                <span>{{ todayDate | date :'shortDate' }}</span>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-danger">Logout</button>
            </li>
        </ul>
    </main>
</header>
