<nav id="sidebar">
    <a href="" id="sidebar-item">
        <span>User Management</span>
        <i class="fa-solid fa-caret-right"></i>
        <i class="fa-solid fa-caret-down d-none"></i>
    </a>

    <div class="w-auto h-auto p-0 m-0">
        <a href="" id="sidebar-childitem">See Users</a>
        <a href="" id="sidebar-childitem">Add User</a>
    </div>

    <a href="" id="sidebar-item">
        <span>Course Management</span>
        <i class="fa-solid fa-caret-right"></i>
        <i class="fa-solid fa-caret-down d-none"></i>
    </a>

    <div class="w-auto h-auto p-0 m-0">
        <a href="" id="sidebar-childitem">See Courses</a>
        <a href="" id="sidebar-childitem">Add Course</a>
    </div>

    <a href="" id="sidebar-item">
        <span>Student Management</span>
        <i class="fa-solid fa-caret-right"></i>
        <i class="fa-solid fa-caret-down d-none"></i>
    </a>

    <div class="w-auto h-auto p-0 m-0">
        <a href="" id="sidebar-childitem">See Students</a>
        <a href="" id="sidebar-childitem">Add Student</a>
    </div>
</nav>