<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<link rel="stylesheet" href="/css/test.css?v=1.0">
<title> Student Registration LGN001 </title>
</head>
<body class="login-page-body"> 
  
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h1>Welcome!</h1>
            
            <c:if test="${ error != null }">
            	<p class="fw-bold h6 text-danger">${error}</p>
            </c:if>
            
            <c:if test="${ msg != null }">
            	<p class="fw-bold h6 text-sucess">${msg}</p>
            </c:if>
            
            <c:if test="${ param.msg != null }">
    			<h5 class="h5 text-success">${param.msg}</h5>
    		</c:if>
    		
    		<c:if test="${ param.error != null }">
    			<h5 class="h5 text-danger">${param.error}</h5>
    		</c:if>
            
            
          </div>
        </div>
        <form modelAttribute="user" cssClass="login-form" action="/login" method="post" name="confirm">
          <input type="text" path="id" placeholder="User ID" />
         
          <input type="password" path="password" placeholder="Password" />

          <button type="submit">login</button>
          <p class="message">Not registered? <!-- <a href="">Create an account</a></p> -->
        </form>
      </div>
    </div>
</body>

</html>