<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<link rel="stylesheet" href="/css/test.css?v=1.0">
<title> Student Registration LGN001 </title>
</head>
<body class="login-page-body"> 
  
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h1>Welcome!</h1>
            
            	<p th:text="${error}" th:unless="${ error == null }" class="fw-bold h6 text-danger"></p>
            
            	<p th:text="${msg}" th:unless="${ msg == null }" class="fw-bold h6 text-sucess"></p>
          
    			    <h5 th:text="${param.msg}" th:unless="${param.msg == null}" class="h5 text-success"></h5>
  
    			    <h5 th:text="${param.error}" th:if="${ param.error != null }" class="h5 text-danger"></h5>
         </div>
        </div>

        <form th:object="${user}" class="login-form" action="/login" method="post" name="confirm">
          <input th:field="*{id}" type="text"  placeholder="User ID" />
         
          <input th:field="*{password}" type="password" placeholder="Password" />

          <button type="submit">login</button>
          <p class="message">Not registered? <!-- <a href="">Create an account</a></p> -->
        </form>
      </div>
    </div>
</body>

</html>