<div class="w-100 h-auto container-fluid p-0 m-0">
    <navbar></navbar>

    <main id="main">
        <sidebar></sidebar>
        
        <div id="main-content">

            <h1 class="text-danger my-5 text-center h3 fw-bold">Course Management </h1>

            <div class="w-75 my-1 mx-auto d-flex justify-content-start">
                <button routerLink="/add-course" class="btn btn-success btn-sm mx-3"><i class="fa-solid fa-circle-plus mx-1"></i>Create</button>
                <report-control [isReporting]="report.isReporting" target="course" (make-report)='handleReport($event)'></report-control>
            </div>

            <Table [datas]="courses" target="course" [columns]="columns" [status]="status" (delete-course)="handleDeleteCourse($event)" ></Table>

        </div>

    </main>
</div>