<div class="w-100 h-auto container-fluid p-0 m-0">
    <navbar></navbar>

    <main id="main">
        <sidebar></sidebar>
        
        <div id="main-content">
            <div class="w-75 mx-auto text-danger text-start py-5">
                <h2 class="h2  fw-bold">Welcome ...!</h2>
                <h4 class="h4 fw-bold my-1 dark">Student Entry Project With "<span class="text-success">Spring Boot</span> + <span class="text-warning">JPA</span> + <span class="text-danger">Angular</span>" </h4>
            </div>
        </div>

    </main>
</div>