<div class="w-100 h-auto container-fluid p-0 m-0">
    <navbar></navbar>

    <main id="main">
        <sidebar></sidebar>
        
        <div id="main-content">
            <h1 class="text-danger fw-bold text-center my-5 h3">Users' Management</h1>

            <div class="w-75 my-1 mx-auto text-end">
                <button routerLink="/add-user" class="btn btn-success btn-sm mx-3"><i class="fa-solid fa-circle-plus mx-1"></i>Create</button>
            </div>

            <Table [datas]="users" [columns]="columns" target="user" [status]="status" (delete-user)="handleDeleteUser($event)" >
            </Table>

        </div>

    </main>
</div>